/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q  &kp W  &kp E             &kp R               &kp T          &kp Y      &kp U                      &kp I          &kp O    &kp P     &kp LBKT
&trans  &kp A  &kp S  &kp D             &kp F               &kp G          &kp H      &kp J                      &kp K          &kp L    &kp SEMI  &kp SQT
&trans  &kp Z  &kp X  &kp C             &kp V               &kp B          &kp N      &kp M                      &kp COMMA      &kp DOT  &kp FSLH  &trans
                      &mt LEFT_GUI TAB  &mt LEFT_SHIFT RET  &lt 1 SPACE    &lt 2 ESC  &mt RIGHT_SHIFT BACKSPACE  &kp RIGHT_ALT
            >;
        };

        lower {
            bindings = <
&trans  &kp N1  &kp N2    &kp N3        &kp N4        &kp N5    &kp N6    &kp N7     &kp N8    &kp N9     &kp N0  &kp MINUS
&trans  &trans  &kp LBKT  &kp LS(LPAR)  &kp LS(RBKT)  &trans    &kp LEFT  &kp DOWN   &kp UP    &kp RIGHT  &trans  &trans
&trans  &trans  &trans    &trans        &trans        &trans    &trans    &trans     &trans    &trans     &trans  &trans
                          &trans        &trans        &trans    &kp LGUI  &kp LCTRL  &kp LALT
            >;

            label = "lower";
        };

        raise {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "raise";
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
